/* Global styles */

.container * {
  height: 100%; /*so the 2 backgrounds do not shrink*/
  width: 100%;
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  top: 0;
  position: relative;
}

/* Styles for the GlobeBackground component */

.globe {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -6;
  top: 0;
  left: 0;
}

/* Styles for the RotatingTextHello component */

/* .myName {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  z-index: 1;
  margin-top: 20%;
} */

/* Styles for the aboutMe paragraph */

.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5vh;
  font-size: 2rem;
  color: #d2d1c8;
  margin-top: 20%;
  z-index: 1;
}

/* Styles for the myProjects section */

.myProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 2rem;
  color: #a19c66;
  margin-top: 2rem;
  font-family: var(--font-mono);
  left: 50%;
  /* margin-top: 100%; */
}

.myProjects h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

/* Styles for the HaloBackground component */

.halo {
  position: sticky;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  z-index: -5;
}
/*  ----------Background of the second section #Globe Vanta.js----------  */
.vantaHaloContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  box-sizing: border-box;
}

.body {
  /* background-color: #cc7575; */
  padding: 40px;
  font-family: Arial;
}

/* Center website */
.main {
  position: relative;
  display: flex;
  /* background-color: #f1f1f1; */
  max-width: 1000px;
  margin: auto;
  padding: 0;
  z-index: 1;
}

.row {
  margin: 210px 50px;
}

/* padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  /* position: relative; */
  display: flex;
  float: inline-end;
  width: 70%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #c4c3b7;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  padding: 30px;
}

.contentText {
  text-align: justify;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.rowSocialMedia {
  /* background-color: #a19c66; */
  height: 20vh;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 5rem;
  z-index: 3;
  gap: 1rem; /*add horizontal space */
  filter: saturate(200%); /*for the LinkedIn icon */
  filter: brightness(70%); /*for the GitHub icon */
}
.reactSocialIcons {
  width: 120px;
  height: 120px;
}

.a {
  align-items: center;
  content: center;
  align-content: center;
}

/*Mari Image*/

.containerMariImage {
  display: flex;
  width: 15%;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
}

.imageMari {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.overlayMariImage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #c4c3b7;
}

.containerMariImage:hover .overlayMariImage {
  opacity: 1;
}

.textMariImage {
  color: #504250;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
